body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
:root {
    --brand-color: #2196F3;
    --primary-color: #757575;
}
.container {
    max-width: 1200px;
}
.link-studio {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
}
.link-studio > span {
    color: var(--brand-color);
}
.header-nav {
    display: flex;
    list-style: none;
}
.site-nav .link {
    text-decoration: none;
    color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
    color: var(--brand-color);
}
.pointer {
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--brand-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.pointer-port {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}
.pointer-port:hover,
.pointer-port:focus,
.pointer-port:active {
    color: #FFFFFF;
    background-color: var(--brand-color);
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}
.title-main {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.title-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.link-main {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.link-main:hover,
.link-main:focus,
.link-main:active {
    color: var(--brand-color);
}
.main-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.main-item-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}
.text-num {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}
.text-down {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.text-down > span {
    color: rgba(109, 101, 101, 0.6);
}
.main-item-port {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.main-item-val {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}